/* Esto es el index*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Inicio Body*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    background-color: black
}

/* Header*/

.header {
    background-color: #1A1B1D;

}

/* Inicio del nav*/
.nav {
    background-color: #1A1B1D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}

.logo {
    border-radius: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

}

.logo-1 {
    border-radius: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

}

.nav ul {
    text-decoration: none;
    display: inline-block;

}

.nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
    padding-top: 30px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav ul li a:hover {
    color: #ffbf00;
}

/* Fin del nav */

/*Fin Header*/

/* Main INDEX */
.main-grid-estilo {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    background-color: #1A1B1D;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0, 5 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.titulo-h1 {
    grid-area: 1 / 1 / 2 / 4;
}

.titulo-h1,
h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.img-1 {
    grid-area: 2 / 1 / 5 / 2;
}

.img-2 {
    grid-area: 2 / 2 / 5 / 3;

}

.img-3 {
    grid-area: 2 / 3 / 5 / 4;
}

.imagenes-index {
    height: 400px;
    width: 300px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

}

.imagenes-index,
img-1 {
    height: max-content;
    width: min-content;

}

.imagenes-index,
img-2 {
    height: max-content;
    width: max-content;

}

.imagenes-index,
img-3 {
    height: max-content;
    width: min-content;
}


/* Fin Main */

/* Footer*/

.footer-estilo {
    background-color: #1A1B1D;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-links img {

    margin: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    width: auto;
    border-radius: 100%;
}

.footer-links img a {
    text-decoration: none;
    list-style-type: none;
}

.texto-footer p {
    text-align: center;
}


/* Fin Footer*/

/* Esto es contacto */

.main-contacto {
    color: white;
    height: 500px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-contacto {
    display: flex;
    color: white;
}

form {
    color: white
}

.form-control {
    border: solid 2px #ffbf00;
}

.boton {
    background-color: azure;
}

.boton {
    border: solid 5px;
    border-color: #ffbf00;
}

.boton:hover {
    color: #ffbf00;
}


/*Esto es nosotros */
.main-estilo {
    color: aliceblue;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0, 5px;
    grid-row-gap: 1px;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    grid-area: 1 / 1 / 2 / 5;
}

.titulo h1 {

    display: flex;
    justify-content: center;
}

.imagen-nos {
    padding-left: 20px;
    margin-top: 10px;
    grid-area: 2 / 1 / 4 / 3;
}

.texto {
    margin-right: 20px;
    grid-area: 2 / 3 / 4 / 5;

}

/* Esto es nuestras variedades */
.h1variedades {
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.ista-estilo {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;

}

/* Esto es sucursales */

.grid-sucursales-container {
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;


}

.titulo-suc {
    margin-top: 30px;
    margin-bottom: 60px;
    color: white;
    grid-area: 1 / 1 / 2 / 4;
}

.titulo-51 {
    display: flex;
    justify-content: center;
    color: white;
    grid-area: 2 / 1 / 3 / 2;

}

.titulo-diag79 {
    display: flex;
    justify-content: center;
    color: white;
    grid-area: 2 / 2 / 3/ 3;
}


.titulo-46 {
    display: flex;
    justify-content: center;
    color: white;
    grid-area: 2 / 3 / 3 / 4;

}

.img-51 {
    grid-area: 3 / 1 / 5 / 2;
}

.img-51 img {
    height: 350px;
    width: auto
}

.img-diag79 {
    grid-area: 3 / 2 / 5 / 3;
    ;
}

.img-diag79 img {
    height: 350px;
    width: auto;
}

.img-46 {

    grid-area: 3 / 3 / 5 / 4;
}

.img-46 img {
    height: 350px;
    width: 400px
}

.ubi-51 {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    grid-area: 5 / 1 / 7 / 2;

}

.ubi-diag79 {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    grid-area: 5 / 2 / 7 / 3;

}

.ubi-46 {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    grid-area: 5 / 3 / 7 / 4;
}

@media(min-width: 480px) and (max-width: 576px) {
    .header {
        height: auto;
    }

    .nav ul li {
        display: block;

    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-estilo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagen-nos {
        min-width: 100%;
    }

    .texto {
        text-align: justify;
    }

    .footer-estilo {
        display: flex;
        flex-direction: row;
        min-width: auto;
        height: auto;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-links a img {
        max-width: 100%;
        min-height: auto;
    }

    .footer-texto p {
        display: none
    }
}